/* feature bikes custom css */

.gryscl{
    filter: grayscale(100%);
}
.gryscl:hover{
    filter: grayscale(0%);
}
@media  screen and (max-width:768) {
    .custom-m{
        justify-content: center important;
    }
    
}