/* feature bikes custom css */

.gryscl{
    filter: grayscale(100%);
}
.gryscl:hover{
    filter: grayscale(0%);
}
.bg-custom{
    background-color: #264653;
}
.btn-custom{
    background-color: #E76F51;
}
.img-custom{
    height:120px;
    width:150px;
}
/* .img-custom img{
    width: 100%;
    height: 100%;

} */